{% extends 'base.html' %}

{% block title %}
{{ title }}
{% endblock %}

{% block scripts %}
<script type="text/javascript" src="/static/js/parallax.min.js"></script>
{% endblock %}

{% block styles %}
<link type="text/css" rel="stylesheet" href="/static/css/index.css" />
<link type="text/css" rel="stylesheet" href="/static/css/image-overlay.css" />
{% endblock %}

{% block content %}

<div class="row">
  <div class="col hero-section justify-content-center align-items-middle">
    <div class="hero-section" style="background: none;">
      <div class="parallax-window" data-parallax="scroll" data-image-src="/static/img/yes.jpg" style="height: 100%;"
        data-z-index="-1">
      </div>
      <div class="text-overlay">
        <h1>Welcome to my resume</h1>
      </div>
    </div>
  </div>
</div>
<div class="mask-bg">
  <div class="row hero-under-banner">
    <div class="col">
      <div class="container" style="max-width: 800px;">
        <div class="row align-items-center mobile-pad" style="min-height: 40px;">
          <div class="col-sm-4 text-pad">
            Harry Kang
          </div>
          <div class="col-sm-4 text-pad">
            harrykang921@gmail.com
          </div>
          <div class="col-sm-4 text-pad">
            San Jose, CA
          </div>
        </div>
      </div>
    </div>
  </div>
  <div class="container page-content-container" style="margin-top: 40px;">
    <div class="row">
      <div class="col blurb-section">
        <p>I'm an incoming freshman at Leland High School passionate about art and music</p>
        <p>Some of my personal hobbies include photoshopping, practicing my violin, and playing video games.</p>
        <p>I apologize for my failure to find a less appalling picture to use above.</p>
        <p>Anyways, check out what I've done.</p>
      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 30px;">
    <div class="row">
      <div class="col section-header">
        Extracurricular Activities
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              California Youth Symphony
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              June 2020 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>I perform various concerts around Europe</p>
              <ul>
                <li class="main-li">Hungary</li>
                <li class="main-li">Poland</li>
                <li class="main-li">Czech Republic</li>
              </ul>
              <p>Currently a 2nd violinist in the CYS Senior Orchestra</p>
            </div>
          </div>
        </div>

        <!-- Project 2 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Member & Graphic Designer of Almaden Youth Musicians
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              2017 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Perform various concerts in local centers to help local organizations</p>
              <ul>
                <li class="main-li">Annual Benefit Concerts</li>
                <li class="main-li">Holiday Concerts</li>
                <li class="main-li">Concerts in Senior Centers</li>
              </ul>
              <p>Creates visual elements for AYM video conerts and projects</p>
              <ul>
                <li class="main-li">AYM 2019 Virtual Concert</li>
                <li class="main-li">AYM 2020 Virtual Concert</li>
                <li class="main-li">AYM 2021 Pupil Concert</li>
                <li class="main-li">AYM 2021 Virtual Concert</li>
                <li class="main-li">AYM 2021 Memory Pilot Project</li>
              </ul>
            </div>
          </div>
        </div>


      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Volunteer Work
      </div>
    </div>

    <div class="row">
      <div class="col">

        <!-- Project 1 -->
        <div class="container section-content">
          <div class="row">
            <div class="col section-content-header">
              Volunteer at Silicon Valley Korean School
            </div>
          </div>
          <div class="row">
            <div class="col time-span">
              June 2021 - Present
            </div>
          </div>
          <div class="row">
            <div class="col section-content-inner">
              <p>Provides assistance to Silicon Valley Korean School teachers</p>
              <ul>
                <li class="main-li">Monitoring students' progress and behavior during class</li>
                <li class="main-li">Help students in need</li>
                <li class="main-li">Correcting Homework</li>
              </ul>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>

      </div>
    </div>
  </div>

  <div class="container page-content-container" style="margin-top: 20px;">
    <div class="row">
      <div class="col section-header">
        Awards / Honors / Certifications
      </div>
    </div>

    <div class="row">
      <div class="col">

          <!-- Project 1 -->
        <div class="container section-content">

          <div class="row">
            <div class="col section-content-header">
              International Competition of Romantic Music 2020: First Prize
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              American Protégé
            </div>
          </div>
          
          <div class="row">
            <div class="col section-content-header">
              Great Composers Competition: String Quartet Third Prize Winner 
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Best Shostakovich Performance:
            </div>
          </div>
          
          <div class="row">
            <div class="col section-content-header">
              Great Composers Competition: Second Prize Winner
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              The Art of Chamber Music
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              US International Open Music Competition: First Place Winner
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              
            </div>
          </div>
          
          <div class="row">
            <div class="col section-content-header">
              San Francisco International Innovative Music Competition
            </div>
          </div>
          <div class="row">
            <div class="col time-span award-space-bottom">
              Bay Area Music Association
            </div>
          </div>

          <div class="row">
            <div class="col section-content-header">
              Silicon Valley Music Competition: Third Place Winner
            </div>
          </div>
          
        </div>


      </div>
    </div>
  </div>

  <div class="row" style="margin-top: 100px;">
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/coding.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Computer Programming</h3>
            <p class="content-text"></p>
          </div>
        </div>
      </div>
      <div class="interest-img-holder">
        <img src="/static/img/interest-1.jpg">
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/music.jpg">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Music</h3>
            <p class="content-text"></p>
          </div>
        </div>
      </div>
    </div>
    <div class="col-lg-4">
      <div class="overlay-container">
        <div class="overlay-content">
          <div class="content-overlay"></div>
          <div class="overlay-content-image-container">
            <img class="overlay-content-image" src="/static/img/avocado1.gif">
          </div>
          <div class="content-details fadeIn-bottom">
            <h3 class="content-title">Art/Animation</h3>
            <p class="content-text">I don't know what was on my mind when I made this.</p>
          </div>
        </div>
      </div>
    </div>
  </div>


</div>
{% endblock %}

{% block footer %}
<div class="footer-container">
  <div class="container page-content-container">
    <div class="row">
      <div class="col-sm-6 contact-me-text">
        Contact Me
      </div>
      <div class="col-sm-6 contact-icons">
        <div>
          <img src="/static/img/contact-icons/gmail.png">
          <span class="contact-info">harrykang921@gmail.com</span>
        </div>
        <!--<div>
          <a href="https://www.linkedin.com/">
            <img src="/static/img/contact-icons/linkedin.png">
            <span class="contact-info">linkedin.com/myprofile</span>
          </a>
        </div>
        <div>
          <a href="https://www.instagram.com/">
            <img src="/static/img/contact-icons/insta.jpg">
            <span class="contact-info">@myhandle</span>
          </a>
        </div>-->
        <div>
          <a href="https://github.com/harry-kang">
            <img src="/static/img/contact-icons/github.png">
            <span class="contact-info">github.com/harry-kang</span>
          </a>
        </div>
      </div>
    </div>
  </div>
</div>
{% endblock %}
